# <font face=arial> Assignment 1 Life Expectancy</font>
## <font face=heltevica> In this Assignment, you'll be asked to finish several tasks on Life Expeectancy data and answer several questions. (You can access this data via this [link](https://www.kaggle.com/datasets/kumarajarshi/life-expectancy-who?resource=download)).</font>
## <font face=heltevica> Please do <font color=red>NOT</font> use external libraries except for data loading</font>

## Task 1
### <font face=heltevica>In this task, please calculate the mean ($\mu$) and standard deviation ($\sigma$) of life expectance for both "Developing Countries" and "Developed Countries".</font>

In [17]:
import math

import pandas as pd

In [18]:
# Import data
df = pd.read_csv("data/Life Expectancy Data.csv")

# drop null values in life expectancy column
df.dropna(subset=['Life expectancy '])

# split dataframe into countries that are developing/developed
developed = df[df['Status'] == "Developed"]
developing = df[df['Status'] == "Developing"]

# get each country and put it into a list
list_developed = []
list_developing = []

for country in developed['Country']:
    if country not in list_developed:
        list_developed.append(country)

for country in developing['Country']:
    if country not in list_developing:
        list_developing.append(country)

# calculate mean life expectancy of each country
# first create dict that will be converted back to a dataframe later
developed_mean = []

# iterate through list
for name in list_developed:
    # separate dataframe we are working on
    working_df = developed[(developed['Country'] == name)]

    # calculate mean
    # get the sum
    le_sum = 0

    for le in working_df['Life expectancy ']:
        le_sum += le

    # calculate mean
    avg = le_sum / working_df.__len__()

    # add mean to list
    developed_mean.append(avg)

# put data into a temp dictionary that will be converted into a dataframe
temp_developed = {'Country': list_developed, 'Life Expectancy Average': developed_mean}
df_developed = pd.DataFrame(data=temp_developed)


developing_mean = []
# iterate through list
for name in list_developing:
    # separate dataframe we are working on
    working_df = developing[(developing['Country'] == name)]

    # calculate mean
    # get the sum
    le_sum = 0

    for le in working_df['Life expectancy ']:
        le_sum += le

    # calculate mean
    avg = le_sum / working_df.__len__()

    # add mean to list
    developing_mean.append(avg)

# put data into a temp dictionary that will be converted into a dataframe
temp_developing = {'Country': list_developing, 'Life Expectancy Average': developing_mean}
df_developing = pd.DataFrame(data=temp_developing)

# need to drop rows without data
df_developing = df_developing.dropna()

In [19]:
# now that we have our two data sets we can calculate the mean and the standard deviation

# calculate mean of developed countries
developed_acc = 0
for avg in df_developed['Life Expectancy Average']:
    developed_acc += avg

mean_of_developed = developed_acc / df_developed.__len__()
print("Mean of developed countries: ", mean_of_developed)
# calculate mean of developing countries
acc = 0
for avg in df_developing['Life Expectancy Average']:
    acc += avg

mean_of_developing = acc / df_developing.__len__()
print("Mean of developing countries: ", mean_of_developing)

Mean of developed countries:  79.19785156249999
Mean of developing countries:  67.11146523178807

In [20]:
# calculate standard deviation
# calculate variance of developed dataframe
developed_var_list = []

for num in df_developed['Life Expectancy Average']:
    developed_var_list.append(pow(num - mean_of_developed, 2))

# calculate the variance
deved_var = 0
for num in developed_var_list:
    deved_var += num

deved_std = math.sqrt(deved_var / developed_var_list.__len__())
print("Standard Deviation of Developed Countries: ", deved_std)

# calculate variance of developing dataframe
developing_var_list = []

#calculate the variance
for num in df_developing['Life Expectancy Average']:
    developing_var_list.append(pow(num - mean_of_developing, 2))

deving_var = 0
for num in developing_var_list:
    deving_var += num

deving_std = math.sqrt(deving_var / developing_var_list.__len__())
print("Standard Deviation of Developing Countries: ", deving_std)

Standard Deviation of Developed Countries:  3.172254676081262
Standard Deviation of Developing Countries:  8.604589759954798

## Task 2
### <font face=heltevica>In this task, you will use the results you get from above to label the data. if the target country's life expectancy is smaller than µ - σ, label this country as "Short";  if the target country's life expectancy is larger than µ + σ, label this country as "Long"; otherwise, label this country as "Normal". Please print the results in a txt file.</font>

In [39]:
# calc 1 std for both developing and developed countries
deved_std_neg = mean_of_developed - deved_std
deved_std_pos = mean_of_developed + deved_std

deving_std_neg = mean_of_developing - deving_std
deving_std_pos = mean_of_developing + deving_std

print(deving_std_pos)

75.71605499174288

In [42]:
# make a list to hold all the short, long, normal values
true_values = []

for status, le in zip(df['Status'], df['Life expectancy ']):
    if status == "Developing":
        if le < deving_std_neg:
            true_values.append("Short")
        elif le > deving_std_pos:
            true_values.append("Long")
        else:
            true_values.append("Normal")
    else:
        if le < deved_std_neg:
            true_values.append("Short")
        elif le > deved_std_pos:
            true_values.append("Long")
        else:
            true_values.append("Normal")

df['True Values'] = true_values
df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,True Values
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,Normal
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,Normal
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,Normal
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,Normal
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2,Short
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5,Short
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0,Short
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8,Short
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8,Short

# Task 4
## <font face=heltevica>Here are some results generated by a random machine learning model, can you give the precision, recall and F1 score based the labels(Groundtruth) you created in Task 2?</font>

In [23]:
# read the prediction CSV
sample_df = pd.read_csv('data/sample.csv', index_col=0)

# only concerned about the prediction, drop all other rows except country
sample_df = sample_df[['Country','Prediction']]

# put all the predicted countries into a list depending on their predicted label
pred_short = []
pred_normal = []
pred_long = []

for (country, le) in zip(sample_df['Country'], sample_df['Prediction']):
    if le == "Short":
        pred_short.append(country)
    elif le == "Normal":
        pred_normal.append(country)
    else:
        pred_long.append(country)

print(pred_short)
print(pred_normal)
print(pred_long)

['Oman', 'Tunisia', 'Iceland', 'Togo', 'Togo', 'Cuba', 'Argentina', 'Rwanda', 'Republic of Korea', 'Czechia', 'Micronesia (Federated States of)', 'Bhutan', 'Iceland']
['Oman', 'Turkey', 'Mexico', 'Mongolia', 'Syrian Arab Republic', 'Somalia', 'Uruguay', 'Finland', 'Viet Nam', 'Angola', 'Ethiopia', 'Luxembourg', 'Gambia', 'Mali', 'France', 'Estonia', 'Malaysia', 'Namibia']
['Togo', 'Finland', 'Burundi', 'Colombia', 'Denmark', 'Comoros', 'Yemen', 'Iceland', 'Venezuela (Bolivarian Republic of)', 'Cook Islands', 'Papua New Guinea', 'Nigeria', 'Malta', 'Ethiopia', 'Suriname', 'Belize', 'Azerbaijan', 'Guyana', 'Zambia']

In [29]:
# now with our lists separated we need to do three for loops generating all true positives + false negatives

row = df.loc[df['Country'].isin(pred_short)]

# iterate through each row within the true label dataframe and each predicted

# if it predicts short and the country is not short it's a false positive
# if it predicts short and the country is short it's a true positive
# if it predicts short and the country is long
#



for country in row['Country']:
    find = row.loc[row['Country'] == country]
    if find['True Label'] != 'Short':

   Country  Life Expectancy Average True Label
6  Czechia                 76.76875     Normal
    Country  Life Expectancy Average True Label
10  Iceland                 82.44375       Long
     Country  Life Expectancy Average True Label
5  Argentina                 75.15625       Long
   Country  Life Expectancy Average True Label
15  Bhutan                  66.1625       Long
   Country  Life Expectancy Average True Label
37    Cuba                   77.975       Long
                             Country  Life Expectancy Average True Label
91  Micronesia (Federated States of)                     68.2       Long
    Country  Life Expectancy Average True Label
105    Oman                 74.84375       Long
               Country  Life Expectancy Average True Label
114  Republic of Korea                  80.4875       Long
    Country  Life Expectancy Average True Label
117  Rwanda                  59.3125       Long
    Country  Life Expectancy Average True Label
142    Togo                  56.6625      Short
     Country  Life Expectancy Average True Label
145  Tunisia                 74.35625       Long