# <font face=arial> Assignment 1 Life Expectancy</font>
## <font face=heltevica> In this Assignment, you'll be asked to finish several tasks on Life Expeectancy data and answer several questions. (You can access this data via this [link](https://www.kaggle.com/datasets/kumarajarshi/life-expectancy-who?resource=download)).</font>
## <font face=heltevica> Please do <font color=red>NOT</font> use external libraries except for data loading</font>

## Task 1
### <font face=heltevica>In this task, please calculate the mean ($\mu$) and standard deviation ($\sigma$) of life expectance for both "Developing Countries" and "Developed Countries".</font>

In [2]:
import math

import pandas as pd

In [3]:
# Import data
df = pd.read_csv("data/Life Expectancy Data.csv")

# drop null values in life expectancy column
df.dropna(subset=['Life expectancy '])

# split dataframe into countries that are developing/developed
developed = df[df['Status'] == "Developed"]
developing = df[df['Status'] == "Developing"]

# get each country and put it into a list
list_developed = []
list_developing = []

for country in developed['Country']:
    if country not in list_developed:
        list_developed.append(country)

for country in developing['Country']:
    if country not in list_developing:
        list_developing.append(country)

# calculate mean life expectancy of each country
# first create dict that will be converted back to a dataframe later
developed_mean = []

# iterate through list
for name in list_developed:
    # separate dataframe we are working on
    working_df = developed[(developed['Country'] == name)]

    # calculate mean
    # get the sum
    le_sum = 0

    for le in working_df['Life expectancy ']:
        le_sum += le

    # calculate mean
    avg = le_sum / working_df.__len__()

    # add mean to list
    developed_mean.append(avg)

# put data into a temp dictionary that will be converted into a dataframe
temp_developed = {'Country': list_developed, 'Life Expectancy Average': developed_mean}
df_developed = pd.DataFrame(data=temp_developed)


developing_mean = []
# iterate through list
for name in list_developing:
    # separate dataframe we are working on
    working_df = developing[(developing['Country'] == name)]

    # calculate mean
    # get the sum
    le_sum = 0

    for le in working_df['Life expectancy ']:
        le_sum += le

    # calculate mean
    avg = le_sum / working_df.__len__()

    # add mean to list
    developing_mean.append(avg)

# put data into a temp dictionary that will be converted into a dataframe
temp_developing = {'Country': list_developing, 'Life Expectancy Average': developing_mean}
df_developing = pd.DataFrame(data=temp_developing)

# need to drop rows without data
df_developing = df_developing.dropna()

In [4]:
# now that we have our two data sets we can calculate the mean and the standard deviation

# calculate mean of developed countries
developed_acc = 0
for avg in df_developed['Life Expectancy Average']:
    developed_acc += avg

mean_of_developed = developed_acc / df_developed.__len__()
print("Mean of developed countries: ", mean_of_developed)
# calculate mean of developing countries
acc = 0
for avg in df_developing['Life Expectancy Average']:
    acc += avg

mean_of_developing = acc / df_developing.__len__()
print("Mean of developing countries: ", mean_of_developing)

Mean of developed countries:  79.19785156249999
Mean of developing countries:  67.11146523178807

In [5]:
# calculate standard deviation
# calculate variance of developed dataframe
developed_var_list = []

for num in df_developed['Life Expectancy Average']:
    developed_var_list.append(pow(num - mean_of_developed, 2))

# calculate the variance
deved_var = 0
for num in developed_var_list:
    deved_var += num

deved_std = math.sqrt(deved_var / developed_var_list.__len__())
print("Standard Deviation of Developed Countries: ", deved_std)

# calculate variance of developing dataframe
developing_var_list = []

#calculate the variance
for num in df_developing['Life Expectancy Average']:
    developing_var_list.append(pow(num - mean_of_developing, 2))

deving_var = 0
for num in developing_var_list:
    deving_var += num

deving_std = math.sqrt(deving_var / developing_var_list.__len__())
print("Standard Deviation of Developing Countries: ", deving_std)

Standard Deviation of Developed Countries:  3.172254676081262
Standard Deviation of Developing Countries:  8.604589759954798

## Task 2
### <font face=heltevica>In this task, you will use the results you get from above to label the data. if the target country's life expectancy is smaller than µ - σ, label this country as "Short";  if the target country's life expectancy is larger than µ + σ, label this country as "Long"; otherwise, label this country as "Normal". Please print the results in a txt file.</font>

In [6]:
# calc 1 std for both developing and developed countries
deved_std_neg = mean_of_developed - deved_std
deved_std_pos = mean_of_developed + deved_std

deving_std_neg = mean_of_developing - deving_std
deving_std_pos = mean_of_developing - deving_std


# make a list to hold all the short, long, normal values
deved_true = []
for country in df_developed["Life Expectancy Average"]:
    if country < deved_std_neg:
        deved_true.append('Short')
    elif country > deved_std_pos:
        deved_true.append('Long')
    else:
        deved_true.append('Normal')
# now we transform it into a dataframe
df_developed.insert(2, column="True Label", value=deved_true)

# do the same for the developing countries
deving_true = []
for country in df_developing["Life Expectancy Average"]:
    if country < deving_std_neg:
        deving_true.append('Short')
    elif country > deving_std_pos:
        deving_true.append('Long')
    else:
        deving_true.append('Normal')

df_developing.insert(2, column="True Label", value=deving_true)

In [7]:
# combine the two into one whole dataframe for exporting
df_true = df_developed.append(df_developing)
df_true.drop(columns='Life Expectancy Average')

C:\Users\Brandon\AppData\Local\Temp\ipykernel_17112\892166026.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_true = df_developed.append(df_developing)

                                Country True Label
0                             Australia     Normal
1                               Austria     Normal
2                               Belgium     Normal
3                              Bulgaria      Short
4                               Croatia     Normal
..                                  ...        ...
156  Venezuela (Bolivarian Republic of)       Long
157                            Viet Nam       Long
158                               Yemen       Long
159                              Zambia      Short
160                            Zimbabwe      Short

[183 rows x 2 columns]

# Task 4
## <font face=heltevica>Here are some results generated by a random machine learning model, can you give the precision, recall and F1 score based the labels(Groundtruth) you created in Task 2?</font>

In [17]:
# read the prediction CSV
sample_df = pd.read_csv('data/sample.csv', index_col=0)


# put all the predicted countries into a list
sample_list = []
for country in sample_df['Country']:
    sample_list.append(country)

# only concerned about the prediction, drop all other rows except country
sample_df = sample_df[['Country','Prediction']]

df_true[df_true['Country'].isin(sample_list)]

                                Country  Life Expectancy Average True Label
6                               Czechia                 76.76875     Normal
7                               Denmark                 79.25625     Normal
10                              Iceland                 82.44375       Long
16                           Luxembourg                 80.78125     Normal
17                                Malta                 80.36250     Normal
3                                Angola                 49.01875      Short
5                             Argentina                 75.15625       Long
7                            Azerbaijan                 70.73125       Long
13                               Belize                 69.26875       Long
15                               Bhutan                 66.16250       Long
22                              Burundi                 55.53750      Short
32                             Colombia                 73.28750       Long
33                              Comoros                 61.58125       Long
37                                 Cuba                 77.97500       Long
48                              Estonia                 74.94375       Long
49                             Ethiopia                 59.11250       Long
51                              Finland                 80.71250       Long
52                               France                 82.21875       Long
54                               Gambia                 59.46250       Long
62                               Guyana                 65.63750       Long
84                             Malaysia                 73.75625       Long
86                                 Mali                 54.93750      Short
90                               Mexico                 75.71875       Long
91     Micronesia (Federated States of)                 68.20000       Long
93                             Mongolia                 65.88750       Long
98                              Namibia                 60.40000       Long
103                             Nigeria                 51.35625      Short
105                                Oman                 74.84375       Long
109                    Papua New Guinea                 61.68125       Long
114                   Republic of Korea                 80.48750       Long
117                              Rwanda                 59.31250       Long
130                             Somalia                 53.31875      Short
135                            Suriname                 70.08125       Long
137                Syrian Arab Republic                 70.85000       Long
142                                Togo                 56.66250      Short
145                             Tunisia                 74.35625       Long
146                              Turkey                 73.91250       Long
153                             Uruguay                 76.07500       Long
156  Venezuela (Bolivarian Republic of)                 73.38750       Long
157                            Viet Nam                 74.77500       Long
158                               Yemen                 63.86250       Long
159                              Zambia                 53.90625      Short

In [28]:
# confusion matrix
tp = 0
tn = 0
fp = 0
fn = 0

# iterate through each row within the true label dataframe and each predicted
for (country, pred_label) in zip(sample_list, sample_df['Prediction']):
    row = df_true.loc[df_true['Country'] == country]
    # check if the prediction label is same as the true label
    # assuming that if it predicts correctly it will be true positive,
    # ASK HOW TO SHOW THIS BECAUSE THERE ARE 3 LABELS, WHICH ONE CORRESPONDS TO TP, TN, FP, FN
    if row['True Label'] == pred_label:

    Country  Life Expectancy Average True Label
105    Oman                 74.84375       Long
    Country  Life Expectancy Average True Label
142    Togo                  56.6625      Short
    Country  Life Expectancy Average True Label
146  Turkey                  73.9125       Long
    Country  Life Expectancy Average True Label
51  Finland                  80.7125       Long
    Country  Life Expectancy Average True Label
22  Burundi                  55.5375      Short
   Country  Life Expectancy Average True Label
90  Mexico                 75.71875       Long
     Country  Life Expectancy Average True Label
32  Colombia                  73.2875       Long
    Country  Life Expectancy Average True Label
105    Oman                 74.84375       Long
     Country  Life Expectancy Average True Label
145  Tunisia                 74.35625       Long
     Country  Life Expectancy Average True Label
93  Mongolia                  65.8875       Long
                  Country  Life Expectancy Average True Label
137  Syrian Arab Republic                    70.85       Long
     Country  Life Expectancy Average True Label
130  Somalia                 53.31875      Short
     Country  Life Expectancy Average True Label
153  Uruguay                   76.075       Long
    Country  Life Expectancy Average True Label
10  Iceland                 82.44375       Long
   Country  Life Expectancy Average True Label
7  Denmark                 79.25625     Normal
    Country  Life Expectancy Average True Label
142    Togo                  56.6625      Short
    Country  Life Expectancy Average True Label
51  Finland                  80.7125       Long
      Country  Life Expectancy Average True Label
157  Viet Nam                   74.775       Long
    Country  Life Expectancy Average True Label
33  Comoros                 61.58125       Long
    Country  Life Expectancy Average True Label
158   Yemen                  63.8625       Long
  Country  Life Expectancy Average True Label
3  Angola                 49.01875      Short
     Country  Life Expectancy Average True Label
49  Ethiopia                  59.1125       Long
    Country  Life Expectancy Average True Label
10  Iceland                 82.44375       Long
                                Country  Life Expectancy Average True Label
156  Venezuela (Bolivarian Republic of)                  73.3875       Long
Empty DataFrame
Columns: [Country, Life Expectancy Average, True Label]
Index: []
    Country  Life Expectancy Average True Label
142    Togo                  56.6625      Short
              Country  Life Expectancy Average True Label
109  Papua New Guinea                 61.68125       Long
       Country  Life Expectancy Average True Label
16  Luxembourg                 80.78125     Normal
   Country  Life Expectancy Average True Label
37    Cuba                   77.975       Long
     Country  Life Expectancy Average True Label
5  Argentina                 75.15625       Long
    Country  Life Expectancy Average True Label
117  Rwanda                  59.3125       Long
   Country  Life Expectancy Average True Label
54  Gambia                  59.4625       Long
     Country  Life Expectancy Average True Label
103  Nigeria                 51.35625      Short
               Country  Life Expectancy Average True Label
114  Republic of Korea                  80.4875       Long
   Country  Life Expectancy Average True Label
17   Malta                  80.3625     Normal
     Country  Life Expectancy Average True Label
49  Ethiopia                  59.1125       Long
   Country  Life Expectancy Average True Label
86    Mali                  54.9375      Short
   Country  Life Expectancy Average True Label
52  France                 82.21875       Long
    Country  Life Expectancy Average True Label
48  Estonia                 74.94375       Long
     Country  Life Expectancy Average True Label
84  Malaysia                 73.75625       Long
      Country  Life Expectancy Average True Label
135  Suriname                 70.08125       Long
   Country  Life Expectancy Average True Label
6  Czechia                 76.76875     Normal
                             Country  Life Expectancy Average True Label
91  Micronesia (Federated States of)                     68.2       Long
   Country  Life Expectancy Average True Label
15  Bhutan                  66.1625       Long
    Country  Life Expectancy Average True Label
10  Iceland                 82.44375       Long
    Country  Life Expectancy Average True Label
98  Namibia                     60.4       Long
   Country  Life Expectancy Average True Label
13  Belize                 69.26875       Long
      Country  Life Expectancy Average True Label
7  Azerbaijan                 70.73125       Long
   Country  Life Expectancy Average True Label
62  Guyana                  65.6375       Long
    Country  Life Expectancy Average True Label
159  Zambia                 53.90625      Short